<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/styles/custom.css" />
    <script
      src="https://res.cdn.office.net/teams-js/2.9.1/js/MicrosoftTeams.min.js"
      integrity="sha384-xnsUQ1tUqsrutBJl0vuf4/hufzLFWW8ZhGnhItfpQ0/BtWgM2uw6YT6BQ5YaKBSM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/scripts/teamsapp.js"></script>
    <title>Microsoft Teams Tab</title>
  </head>

  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div>
      <h1>Task Lists</h1>
      <span>
        <p>Your app is running in</p>
        <p id="hubName"></p>
        <br>
        <h1>Task Lists will be here</h1>
        <div id="tasks" class="tasks"></div>
        <br>
        <div>
          <img src="src/views/camunda-tasklist-ui.png" alt="">
        </div>
        
      </span>
    </div>
    <script>
const tasksEl = document.getElementById("tasks")
let tasks;

var requestOptions = {
  method: 'GET',
  redirect: 'follow'
};

fetch("http://localhost:3000/data", requestOptions)
  .then(response => response.json())
  .then(result => 
    {
      const html = result.map(row =>  

                `<ul>
                  <li><label>Task name:</label> ${row.name}</li>
                  <li><label>Creation date:</label> ${row.creationDate}</li>
                  <li><label>Task state:</label> ${row.taskState}</li>
                </ul>`
               
            ).join('')
            tasksEl.innerHTML = html; 
    }
  )
  .catch(error => console.log('error', error));

  
    </script>


    <script type="text/javascript">
      // Hide the loading indicator
      microsoftTeams.appInitialization.notifySuccess();
    </script>
  </body>
</html>
